<%= image_tag @post.image.url(:medium) %>
<p><h5><%= @post.name %></h5></p>

<%= link_to "Comment", new_post_comment_path(@post) %>

<% if @post.comments.any? %><br>
  <h3> Comments! </h3>
  <% @post.comments.each do |comment| %>
    <%= comment.comments %><br>
  <% end %>

<% else %>
   <h3>No comments yet</h3>
<% end %>

